<div style="text-align:center">
    <h2>{{ t('crelish','creating snapshot - please wait',{'name':name}) }}</h2>
</div>
<script>
    window.setTimeout(function () {
        document.location.href = '/crelish/snapshot/index';
    },1000);
</script>